---
import Base from '../../layouts/Base.astro'
import AboutUs from '../../components/nosotros/AboutUs.astro'

const frontmatter = {
  title: "Desoutter Tools México | Nosotros",
  description: "Descubre más sobre Desoutter Tools México, tu socio confiable en herramientas de ensamblaje e innovación industrial. Conoce nuestra historia, misión y visión en la industria de fabricación.",
  keywords: ["Desoutter Tools México", "Nosotros", "Herramientas de Ensamblaje", "Innovación Industrial", "Historia de la Empresa", "Fabricación"],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: "Conoce a Desoutter Tools México",
  facebookDescription: "Explora la historia y compromiso de Desoutter Tools México en ofrecer herramientas de ensamblaje de calidad y soluciones industriales innovadoras. Únete a nosotros para una fabricación eficiente.",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: Astro.url.href,
  twitterTitle: "Descubre a Desoutter Tools México",
  twitterDescription: "Conoce más sobre Desoutter Tools México, líder en herramientas de ensamblaje y soluciones industriales. Explora nuestra historia y compromiso con la eficiencia en la fabricación.",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
};

---

<Base frontmatter={frontmatter} >
  <section class="bg-gray-100 dark:bg-gray-900">
    <AboutUs />
  </section>
</Base>