<section>
    <header class="flex justify-center">
        <h2 class="text-xl font-semibold dark:text-white">
            Lo siento no hay herramientas disponibles por el momento
        </h2>
    </header>
    <article>
        <img src="https://s3.amazonaws.com/desumex.com.mx/noencontrado/notTools.svg" alt="Imagen cuando no hay herramientas disponibles">
    </article>
</section>