---
import Icon from "astro-icon";
---

<!-- Modal toggle -->
<button type="button" id="btn-question" class="block w-full text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm px-5 py-1 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">
    <div class="flex items-center space-x-2">
        <Icon pack="jam" name="message-f" class="h-8 w-8 text-white" />
        <span>Realizar una pregunta</span>
    </div>
</button>

<!-- Main modal -->
<!-- agregar flex para centrar -->
<div id="form-question" class="fixed hidden justify-center items-center bg-white bg-opacity-70 top-0 bottom-0 left-0 right-0 z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 max-h-screen">
    <div class="relative border shadow-[0px_0px_10px_10px_rgba(0,0,0,0.3)] w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white shadow dark:bg-gray-700">
            <button type="button" id="btn-close-question" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <Icon pack="ic" name="baseline-close" class="h-8 w-8" />
                  <span class="sr-only">Cerrar formulario</span>
              </button>
              <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Escribe tu pregunta</h3>
                    <form method="post">

                        <div class="relative z-0 w-full mb-6 group">
                            <input type="email" name="email_question" id="email_question" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                            <label for="email_question" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de correo electrónico</label>
                        </div>

                        <fieldset class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="text" name="name_question" id="name_question" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                                <label for="name_question" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
                            </div>
                        </fieldset>

                        <fieldset class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone_question" id="phone_question" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder="ej. 123 456 7890" required />
                                <label for="phone_question" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Número telefónico</label>
                            </div>
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="text" name="company_question" id="company_question" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                                <label for="company_question" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa</label>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="relative z-0 w-full mb-6 group">
                                <textarea name="message_question" id="message_question" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required cols="10" rows="1"></textarea>
                                <label for="message_question" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Pregunta</label>
                            </div>
                        </fieldset>

                        <button type="submit" class="text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">Enviar</button>
                    </form>
                </div>
          </div>
      </div>
  </div>
  
  <script>
    function init () {
        const btnQuestion = document.querySelector('#btn-question');
        const formQuestion = document.querySelector('#form-question');
        const btnCloseQuestion = document.querySelector('#btn-close-question');

        btnQuestion?.addEventListener('click', ()=>{
            formQuestion?.classList.replace('hidden', 'flex');
        });

        btnCloseQuestion?.addEventListener('click', ()=>{
            formQuestion?.classList.replace('flex','hidden');
        })

        document.getElementById('phone_question').addEventListener('input', function (e) {
        // Eliminar cualquier caracter que no sea un número
        const phoneNumber = e.target.value.replace(/\D/g, '').slice(0, 10);

        // Aplicar el formato
        let formattedPhoneNumber = '';
        for (let i = 0; i < phoneNumber.length; i++) {
                if (i === 3 || i === 6) {
                    formattedPhoneNumber += '-';
                }
                formattedPhoneNumber += phoneNumber[i];
            }

            // Actualizar el valor del campo de entrada
            e.target.value = formattedPhoneNumber;
        });
    }

    window.onload = init;
    document.addEventListener('DOMContentLoaded', init);
    init();
    document.addEventListener('astro:after-swap', init);
    
  </script>
  