---
import Base from "../layouts/Base.astro";
import CarouselContainer from "../components/CarouselContainer.astro";
import IndustriesSectorsList from "../components/IndustriesSectorsList.astro";
import Services from "../components/Services.astro";
import CTA from "../components/CTA.astro";

const frontmatter = {
  title: "Desoutter México | Herramientas Industriales",
  description: "Desoutter México: Herramientas Industriales y Soluciones de Ensamblaje Avanzadas. Una amplia gama de herramientas de ensamblaje de alta calidad y soluciones industriales líderes en el mercado. Desde herramientas eléctricas de precisión, neumáticas para la industria automotriz, aeronáutica  y servicios especializados. Explore nuestras soluciones innovadoras y confíe en nuestra experiencia para llevar su producción al siguiente nivel. ¡Bienvenido a la excelencia en ensamblaje con Desoutter México.",
  keywords: ["Desoutter México", "Herramientas Industriales", "Soluciones de Ensamblaje", "Herramientas de Ensamblaje", "Herramientas Eléctricas Industriales", "Herramientas Neumáticas", "Software de Ensamblaje", "Optimización de Procesos de Fabricación", "Productividad Industrial", "Eficiencia en Ensamblaje", "Tecnología de Ensamblaje", "Innovación Industrial", "Socios en Herramientas de Ensamblaje", "Fabricación de Precisión", "Herramientas de Calidad", "Servicios de Soporte Técnico", "Desoutter en México", "Equipo de Fabricación", "Soluciones para la Industria", "Automatización de Procesos", "Industria de la Construcción", "Herramientas de Ensamblaje Avanzadas", "Optimización de la Línea de Ensamblaje", "Tecnología Industrial", "Fabricación Eficiente", "Maquinaria Industrial", "Equipos de Soldadura", "Herramientas de Corte", "Máquinas CNC", "Tornos Industriales", "Máquinas para la Industria Metalmecánica", "Herramientas de Medición", "Instrumentos de Control de Calidad", "Equipo de Elevación y Manejo de Materiales", "Herramientas de Torque", "Máquinas para la Industria Automotriz", "Herramientas para la Industria Aeroespacial", "Equipos de Automatización Industrial", "Herramientas de Seguridad Industrial", "Herramientas para la Industria Alimentaria", "Equipos de Limpieza Industrial", "Herramientas para la Industria Química", "Suministros Industriales", "Materiales de Construcción Industrial", "Maquinaria de Procesamiento de Alimentos"],
  name: "Desoutter México",
  language: "es",
  url: "https://desouttermx.netlify.app",
  facebookTitle: "Desoutter México",
  facebookDescription: "Desoutter México: Su Socio en Herramientas Industriales y Soluciones de Ensamblaje Avanzadas. Descubra nuestra amplia gama de herramientas de ensamblaje de alta calidad y soluciones industriales líderes en el mercado en Desoutter México. Desde herramientas eléctricas de precisión hasta software de vanguardia y servicios especializados, estamos comprometidos a optimizar la eficiencia y la productividad en su proceso de fabricación. Explore nuestras soluciones innovadoras y confíe en nuestra experiencia para llevar su producción al siguiente nivel. ¡Bienvenido a la excelencia en ensamblaje con Desoutter México",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}

---

<Base frontmatter={frontmatter}>
  <section class="flex justify-center w-full h-full">
    <article class="my-7 w-full sm:w-[690px] md:w-[720px] lg:h-[330px] lg:w-[940px] xl:h-[400px] xl:w-[1142px] shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:bg-gray-800">
      <CarouselContainer />
    </article>
  </section>

  <!-- <section class="sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16 shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:dark:bg-gray-800">
    <article>
      <h3 class="font-bold text-2xl text-center mb-10 dark:text-white">
        Herramientas
      </h3>
    </article>
  </section> -->

  <section class="sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16 shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white">
    <article>
      <IndustriesSectorsList />
    </article>
  </section>

  <section class="flex justify-center sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16 shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white">
    <article class="w-full">
      <Services />
    </article>
  </section>

  <section class="flex justify-center sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16 shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white">
    <article class="w-full">
      <CTA />
    </article>
  </section>
</Base>
