---
import Timeline from "./Timeline.astro";

const team =
  "https://s3.amazonaws.com/desumex.com.mx/equipo-desumex.avif";

const imageTeam = {
  title: "Personal del equipo de Desumex",
  alt: "Personal del equipo de Desumex posando para la foto",
  src: team,
};
---

<article class="dark:bg-gray-900">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <section class="w-full p-10">
      <header class="">
        <h2
          class="text-4xl font-bold leading-tight text-red-600 dark:text-red-300"
        >
          Acerca de Nosotros
        </h2>
      </header>

      <article
        class="w-full max-[950px]:space-y-4 space-x-4 grid grid-cols-1 min-[950px]:grid-cols-3"
      >
        <figure class="block w-full">
          {
            imageTeam && (
              <img
                src={imageTeam.src}
                alt={imageTeam.alt}
                title={imageTeam.title}
                class="w-full"
                loading="lazy"
              />
            )
          }
        </figure>

        <section>
          <article>
            <header>
              <h3
                class="text-2xl font-bold leading-tight text-red-800 dark:text-red-300"
              >
                ¿Quiénes Sómos?
              </h3>
            </header>
            <p class="dark:text-white text-base font-medium text-gray-900">
              Desumex una empresa líder en la distribución y calibración de
              herramientas de torque en toda la República Mexicana.
            </p>
          </article>

          <article>
            <header>
              <h3
                class="text-2xl font-bold leading-tight text-red-800 dark:text-red-300"
              >
                Nuestra experiencia
              </h3>
            </header>
            <ul class="list-inside list-disc text-base font-medium text-gray-900 dark:text-white">
              <li>
                Más de 28 años de experiencia en el mercado.
              </li>
              <li>
                Especialización en herramientas de torque y servicios
                relacionados.
              </li>
              <li>
                Líderes en el suministro de herramientas de torque de alta
                tecnología.
              </li>
            </ul>
          </article>
        </section>

        <section class="space-y-5">
          <article>
            <h3 class="text-lg font-bold leading-tight text-red-800 dark:text-red-300" >
              Misión
            </h3>
            <p class="text-base font-medium text-gray-900 dark:text-white">
              Brindar productos y servicios de la más alta calidad que contribuyan al éxito y la seguridad de nuestros clientes.
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold leading-tight text-red-800 dark:text-red-300" >
              Visión
            </h3>
            <p class="text-base font-medium text-gray-900 dark:text-white">
              Es llegar a ser la empresa referente en herramientas de torque en México, reconocida por su excelencia, innovación y compromiso con la satisfacción del cliente.
            </p>
          </article>

          <article>
            <h3 class="text-lg font-bold leading-tight text-red-800 dark:text-red-300" >
              Valores
            </h3>
            <p class="text-base font-medium text-gray-900 dark:text-white">
              Operar con la más alta ética y transparencia en todas nuestras interacciones con nuestros clientes.
            </p>
          </article>


        </section>
      </article>

      <article>
        <header class="my-5">
          <h3
            class="text-2xl font-bold leading-tight text-red-800 dark:text-red-300"
          >
            Historia
          </h3>
        </header>
        <Timeline />
      </article>
    </section>
  </div>
</article>
