---
import BaseReCaptcha from '../../layouts/BaseReCaptcha.astro'
import Map from '../../components/contacto/Map.astro'
import LeftSidebar from '../../components/contacto/LeftSidebar.astro';
import ContactForm from '../../components/contacto/ContactForm.astro';
import SocialContact from '../../components/contacto/SocialContact.astro';
import RightSidebar from '../../components/contacto/RightSidebar.astro';

const frontmatter = {
  title: "Desoutter Tools México | Contacto",
  description: "Contacta con Desoutter Tools México para soluciones industriales y herramientas de ensamblaje. Encuentra información de contacto y soporte técnico para tus necesidades de fabricación.",
  keywords: ["Desoutter Tools México", "Contacto", "Herramientas de Ensamblaje", "Soluciones Industriales", "Soporte Técnico", "Fabricación"],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: "Contacto con Desoutter Tools México",
  facebookDescription: "Obtén soporte y contacto directo con Desoutter Tools México para tus necesidades de herramientas de ensamblaje e industria. Soluciones eficientes para tu proceso de fabricación.",
  facebookImage: "https://s3.amazonaws.com/desumex.com.mx/equipo-desumex.jpg",
  facebookURL: Astro.url.href,
  twitterTitle: "Contacto con Desoutter Tools México",
  twitterDescription: "Encuentra información de contacto y soporte técnico de Desoutter Tools México. Herramientas de ensamblaje y soluciones industriales para una fabricación eficiente.",
  twitterImage: "https://s3.amazonaws.com/desumex.com.mx/equipo-desumex.jpg",
};
---

<BaseReCaptcha frontmatter={frontmatter}>
  <section class="w-full">
    <article class="contacto-container w-full grid grid-cols-1 justify-items-center gap-x-6 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
      <LeftSidebar />
      <section class="w-full px-5 col-start-1 col-end-3 lg:col-span-2 lg:col-start-2">
        <ContactForm />
        <Map />
        <SocialContact />
      </section>
      <RightSidebar />
    </article>
  </section>
</BaseReCaptcha>