---
import Icon from "astro-icon";
import CTA from "../CTA.astro";
const { qya } = Astro.props;

// console.log(qya);
---

<article class="mx-auto w-full max-w-screen-xl">
  {
    qya && (
      <>
        <section class="grid grid-cols-2">
          {qya.map((questionAsnwer: string) => (
            <div>
              <header class="grid grid-cols-9 justify-items-center items-center max-sm:grid-cols-7">
                <Icon pack="mdi" name="faq" class="w-10 text-red-500" />
                <h4 class="grid col-span-8 max-sm:col-span-6 w-full max-md:text-base max-sm:text-sm p-1 font-medium text-left text-gray-800 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-800 dark:bg-gray-400">
                  <p>{questionAsnwer.q}</p>
                </h4>
              </header>
              <article class="grid justify-items-start grid-cols-9 p-5 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <span></span>
                <p class="mb-2 col-span-8 text-gray-500 p-1 dark:text-gray-400">
                  {questionAsnwer.a}
                </p>
              </article>
            </div>
          ))}
        </section>
        <CTA
          title="Para realizar un servicio o consulta"
          subtitle="mandanos un mensaje o contáctanos en redes sociales"
        />
      </>
    )
  }
</article>
