---
export interface Props {
  title: string
  description?: string
  image?: string
}

const { title, description, image } = Astro.props
---

<section
  class='relative mx-auto w-full max-w-screen-xl bg-white dark:bg-slate-800 max-[705px]:my-5 my-10'
>
  <article class='grid h-full grid-cols-2 max-[1124px]:grid-cols-2 max-[705px]:grid-cols-1'>
    
    <section
      class='top-0 z-20 flex w-full justify-center bg-white bg-opacity-10 p-4 col-span-1 max-[1124px]:col-span-1'
    >
      <div class='flex justify-center items-center'>
        <header>
          <h2 class='border-b border-red-500 text-red-500 lg:text-lg xl:text-3xl font-bold leading-tight'>
              {title}
          </h2>
          <p class="text-sm font-semibold text-gray-800 dark:text-white">prepárate para mejorar en tu industria</p>
          <div class="py-5">
            <a href={import.meta.env.BASE_URL + "contacto"} class="px-2 py-2 bg-red-500 text-white text-base font-bold">
              Sólicitalo ya!
            </a>
          </div>
          <div class="text-sm font-medium text-gray-500 dark:text-white">
            <p>
              {description}
            </p>
          </div>
        </header>
      </div>
      <slot />
    </section>

    <figure class='flex items-center justify-center h-full w-full'>
      {
        image && (
          <img src={image} alt={title} class='object-contain h-full w-full' />
        )
      }
    </figure>
  </article>
</section>
