---
const {service} = Astro.props;
---
<nav class="max-[300px]:text-xs max-[500px]:text-sm text-slate-500 mx-auto w-full max-w-screen-xl mb-5">
    <a class="border-b-2 text-red-500 border-red-500 hover:text-gray-600 hover:border-gray-600" 
    href={"/"+"servicios"}>Regresar a servicios</a>/<span>{service}</span>
</nav>