---
import type { Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from "astro:content"
import Base from '../../layouts/Base.astro'
import AboutUs from '../../components/AboutUs.astro'
export const prerender = true

export interface Props {
  page: Page<CollectionEntry<'nosotros'>>
}

const frontmatter = {
  title: "Título de la Página",
  description: "Descripción de la Página",
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  name: "Nombre del Autor",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Título para Compartir en Facebook",
  facebookDescription: "Descripción para Compartir en Facebook",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}

const { page } = Astro.props
// console.log(page.data[0].data)

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const allMeetUs = await getCollection('nosotros', ({ data }) => {
    return data
  })

  return paginate(allMeetUs)
}
---

<Base frontmatter={frontmatter} >
  <section class="mt-10 bg-gray-100 dark:bg-gray-900">
    <AboutUs meetUsInfo={page.data}>
  </section>
</Base>