---
import Base404 from "../layouts/Base404.astro";

const frontmatter = {
  title: "Desoutter Tools México | Herramientas Industriales",
  description: "Desoutter Tools México: Herramientas Industriales y Soluciones de Ensamblaje Avanzadas. Una amplia gama de herramientas de ensamblaje de alta calidad y soluciones industriales líderes en el mercado. Desde herramientas eléctricas de precisión, neumáticas para la industria automotriz, aeronáutica  y servicios especializados. Explore nuestras soluciones innovadoras y confíe en nuestra experiencia para llevar su producción al siguiente nivel. ¡Bienvenido a la excelencia en ensamblaje con Desoutter Tools México.",
  keywords: [
    "Desoutter Tools México", "Herramientas Industriales", "Soluciones de Ensamblaje", "Herramientas Eléctricas", "Innovación Industrial", 
    "Fabricación de Precisión", "Automatización de Procesos", "Tecnología Industrial", "Eficiencia en Ensamblaje", "Productividad Industrial"
  ],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: "Desoutter Tools México",
  facebookDescription: "Desoutter Tools México: Su Socio en Herramientas Industriales y Soluciones de Ensamblaje Avanzadas. Descubra nuestra amplia gama de herramientas de ensamblaje de alta calidad y soluciones industriales líderes en el mercado en Desoutter Tools México. Desde herramientas eléctricas de precisión hasta software de vanguardia y servicios especializados, estamos comprometidos a optimizar la eficiencia y la productividad en su proceso de fabricación. Explore nuestras soluciones innovadoras y confíe en nuestra experiencia para llevar su producción al siguiente nivel. ¡Bienvenido a la excelencia en ensamblaje con Desoutter Tools México",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: Astro.url.href,
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}
---

<Base404 frontmatter={frontmatter}>

    <section>
        <header class="grid justify-items-center space-y-4 py-4">
            <h2 class="text-3xl font-semibold">Sección de la página no encontrada</h2>
            <h3 class="text-xl font-medium">Por favor ingrese a uno de los siguientes enlaces para continuar su experiencia</h3>
            <nav class="my-5">
                <ul class="grid justify-items-center">
                    <a href={"/"}>
                        <li class="text-red-500">Inicio</li>
                    </a>
                    <a href={"/" + "herramientas"}>
                        <li class="text-red-500">Herramientas</li>
                    </a>
                    <a href={"/" + "servicios"}>
                        <li class="text-red-500">Servicios</li>
                    </a>
                    <a href={"/" + "contacto"}>
                        <li class="text-red-500">Contáctanos</li>
                    </a>
                    <a href={"/" + "nosotros"}>
                        <li class="text-red-500">Nosotros</li>
                    </a>
                </ul>
            </nav>
        </header>
        <article class="flex justify-center">
            <img src="https://s3.amazonaws.com/desumex.com.mx/404/error404.svg" alt="Imagen que representa a la página no encontrada">
        </article>
    </section>

</Base404>