---
import Base from '../layouts/Base.astro'
import Map from '../components/Map.astro'
import LeftSidebar from '../components/LeftSidebar.astro';
import ContactForm from '../components/ContactForm.astro';
import SocialContact from '../components/SocialContact.astro';
import RightSidebar from '../components/RightSidebar.astro';

const frontmatter = {
  title: "Título de la Página",
  description: "Descripción de la Página",
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  name: "Nombre del Autor",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Título para Compartir en Facebook",
  facebookDescription: "Descripción para Compartir en Facebook",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}
---

<Base frontmatter={frontmatter}>
  <section class="w-full">
    <article class="contacto-container w-full grid grid-cols-1 justify-items-center gap-x-6 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
      <LeftSidebar />
      <section class="w-full px-5 col-start-1 col-end-3 lg:col-span-2 lg:col-start-2">
        <ContactForm />
        <Map />
        <SocialContact />
      </section>
      <RightSidebar />
    </article>
  </section>
</Base>