---
import Base from "../layouts/Base.astro";
import CarouselContainer from "../components/principal/CarouselContainer.astro";
import IndustriesSectorsList from "../components/principal/IndustriesSectorsList.astro";
import Services from "../components/servicios/Services.astro";
import CTA1 from "../components/CTA1.astro";

const frontmatter = {
  title: "Desoutter Tools México | Herramientas Industriales",
  description: "Desoutter Tools México: Herramientas Industriales y Soluciones de Ensamblaje Avanzadas. Una amplia gama de herramientas de ensamblaje de alta calidad y soluciones industriales. Desde herramientas eléctricas de precisión, neumáticas para la industria automotriz, aeronáutica y servicios especializados.",
  keywords: [
    "Desoutter Tools México", "Herramientas Industriales", "Soluciones de Ensamblaje", "Herramientas Eléctricas", "Innovación Industrial", 
    "Fabricación de Precisión", "Automatización de Procesos", "Tecnología Industrial", "Eficiencia en Ensamblaje", "Productividad Industrial"
  ],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: "Desoutter Tools México",
  facebookDescription: "Desoutter Tools México: Su Socio en Herramientas Industriales y Soluciones de Ensamblaje Avanzadas. Descubra nuestra amplia gama de herramientas de ensamblaje de alta calidad y soluciones industriales líderes en el mercado en Desoutter Tools México. Desde herramientas eléctricas de precisión hasta software de vanguardia y servicios especializados, estamos comprometidos a optimizar la eficiencia y la productividad en su proceso de fabricación. Explore nuestras soluciones innovadoras y confíe en nuestra experiencia para llevar su producción al siguiente nivel. ¡Bienvenido a la excelencia en ensamblaje con Desoutter Tools México",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: Astro.url.href,
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}

---

<Base frontmatter={frontmatter}>
  <section class="flex justify-center my-7 mx-4">
    <article class="w-full h-auto sm:w-[690px] md:w-[720px] lg:w-[940px] xl:w-[1142px] shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:bg-gray-800">
      <CarouselContainer />
    </article>
  </section>

  <section class="flex justify-center my-7 mx-4">
    <article class="w-full sm:w-[690px] md:w-[720px] lg:w-[940px] xl:w-[1142px] shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:bg-gray-800">
      <IndustriesSectorsList />
    </article>
  </section>

  <section class="flex justify-center my-7 mx-4 ">
    <article class="w-full sm:w-[690px] md:w-[720px] lg:w-[940px] xl:w-[1142px] shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:bg-gray-800">
      <CTA1 title="La industria y servicios que necesitas" subtitle="Todo lo que buscas en Desumex" 
            btn1="Cotizar"
            btn2="Contáctanos"
            href1="contacto/cotizar"
            href2="contacto"
      />
    </article>
  </section>

  <section class="flex justify-center my-7 mx-4">
    <article class="w-full sm:w-[690px] md:w-[720px] lg:w-[940px] xl:w-[1142px] shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:bg-gray-800">
      <Services />
    </article>
  </section>

  <section class="flex justify-center my-7 mx-4 ">
    <article class="w-full sm:w-[690px] md:w-[720px] lg:w-[940px] xl:w-[1142px] shadow-[0px_0px_10px_0px_rgba(0,0,0,0.3)] bg-white dark:bg-gray-800">
      <CTA1 title="¿Necesitas herremientas?" subtitle="Busca y obtiene todo lo que necesitas." 
            btn1="Cotizar"
            btn2="Contáctanos"
            href1="contacto/cotizar"
            href2="contacto"
      />
    </article>
  </section>
</Base>
