---
import IndustrySector from "./IndustrySector.astro";
const listIndustrySectors = [
    {
        name: "Industria Automotriz",
        description: "Las herramientas Desoutter impulsan la producción de vehículos en la industria automotriz de México, un pilar económico crucial.",
        image: "https://s3.amazonaws.com/desumex.com.mx/industrias/industria-automotriz.jpg"
    },
    {
        name: "Manufactura Avanzada",
        description: "Descubre nuestra amplia gama de herramientas diseñadas para enfrentar los desafíos tecnológicos más exigentes en tus industrias.",
        image: "https://s3.amazonaws.com/desumex.com.mx/industrias/industria-electronica.jpg"
    },
    {
        name: "Sector Energético Industrial",
        description: "Las herramientas industriales de Desoutter respaldan la producción de energía renovable en México, en línea con las inversiones en energías limpias",
        image: "https://s3.amazonaws.com/desumex.com.mx/industrias/industria-energetica.jpg"
    },
    {
        name: "Industria Aeronáutica",
        description: "La industria  aeronáutica  está en crecimiento. Las herramientas Desoutter son esenciales para mantener altos estándares en la producción y el mantenimiento de aeronaves.",
        image: "https://s3.amazonaws.com/desumex.com.mx/industrias/industria-aeronautica.jpg"
    },
]
---

<div class="p-5 pb-20 dark:bg-gray-800 grid justify-center">
    <h5 class="font-bold text-2xl text-center mb-10 dark:text-white">Sectores industriales</h5>
    <ul class="grid justify-items-center grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-10 p-3 max-w-full">
        {listIndustrySectors.map((industrySector)=>(
            <li class="flex justify-center">
                <IndustrySector industrySector={industrySector}  />
            </li>
        ))}
    </ul>
</div>