---
import IndustrySector from "./IndustrySector.astro";
const listIndustrySectors = [
    {
        name: "Industria Automotriz en México",
        description: "La industria automotriz en México es un motor económico importante. Descubre cómo las herramientas Desoutter apoyan la producción de vehículos en el país.",
        image: "https://img.freepik.com/free-photo/metal-industry-workshop-modern-machinery-building-steel-parts-generated-by-ai_188544-26196.jpg"
    },
    {
        name: "Tecnología y Herramientas para la Manufactura Electrónica",
        description: "México es un líder en la fabricación de productos electrónicos. Nuestras herramientas Desoutter son esenciales para la producción de dispositivos electrónicos de alta calidad.",
        image: "https://img.freepik.com/free-photo/human-hand-skillfully-soldering-complex-circuit-board-generated-by-ai_188544-37239.jpg"
    },
    {
        name: "Herramientas Sostenibles para Energía Renovable",
        description: "México está invirtiendo en energías limpias. Descubre cómo las herramientas industriales de Desoutter respaldan la producción de energía renovable en el país.",
        image: "https://img.freepik.com/free-photo/sunset-illuminates-machinery-power-oil-extraction-generated-by-ai_188544-20318.jpg"
    },
    {
        name: "Innovación en la Industria Aeroespacial",
        description: "La industria aeroespacial en México está en crecimiento. Las herramientas Desoutter son esenciales para mantener altos estándares en la producción y el mantenimiento de aeronaves.",
        image: "https://img.freepik.com/free-photo/futuristic-fighter-plane-taking-off-mid-air-generated-by-ai_188544-26201.jpg"
    },
]
---

<div class="p-5 pb-20 dark:bg-gray-800 grid justify-center">
    <h2 class="font-bold text-2xl text-center mb-10 dark:text-white">Sectores industriales</h2>
    <ul class="grid justify-items-center grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-10 p-3 max-w-full">
        {listIndustrySectors.map((industrySector)=>(
            <li class="flex justify-center">
                <IndustrySector industrySector={industrySector}  />
            </li>
        ))}
    </ul>
</div>