---
import Product from '../../../../../../../../../components/Product.astro';
import Base from '../../../../../../../../../layouts/Base.astro';
const frontmatter = {
  title: "Título de la Página",
  description: "Descripción de la Página",
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  name: "Nombre del Autor",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Título para Compartir en Facebook",
  facebookDescription: "Descripción para Compartir en Facebook",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}
---

<Base frontmatter={frontmatter}>
    <section class="p-10">
      <Product />
    </section>
</Base>