---
import NavigationTools from '@components/herramientas/NavigationTools.astro'
import CategoriesList from '@components/herramientas/CategoriesList.astro';
import Base from '@layouts/Base.astro'
import ToolsCTA from '@components/herramientas/ToolsCTA.astro';
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";

async function getCategories() {
  try {
  const response = await fetch(`${desoutterAPI}/herramientas`);

  if (!response.ok) {
    // Si la respuesta no es exitosa, lanzar un error con el status
    throw new Error(`HTTP error! Status: ${response.status}`);
  }
  
  return await response.json();
  
  // console.log(categories);
  } catch (error) {
    // Manejar cualquier error que ocurra durante la solicitud o al analizar la respuesta JSON
    // Afirmación de tipo para indicar que 'error' es de tipo 'Error'
    console.error('Error en la solicitud:', (error as Error).message);
  }
}

const categories = await getCategories().catch((error)=>{
  console.log('No hay categoria en esta sección');
  console.error(error);
})

const frontmatter = {
  title: "Herramientas Industriales | Desoutter Tools México",
  description: "Descubre nuestra amplia gama de herramientas industriales en Desoutter Tools México. Ofrecemos herramientas de ensamblaje de alta calidad para impulsar la eficiencia en tu proceso de fabricación.",
  keywords: [
    "Herramientas Industriales", "Herramientas de Ensamblaje", "Herramientas Eléctricas", "Herramientas Neumáticas", "Herramientas de Corte", 
    "Tecnología de Ensamblaje", "Soluciones de Ensamblaje", "Maquinaria Industrial", "Equipo de Fabricación", "Optimización de Procesos"
  ],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: "Herramientas Industriales en Desoutter Tools México",
  facebookDescription: "Explora nuestra amplia gama de herramientas industriales. Desde herramientas de ensamblaje de precisión hasta maquinaria industrial, ofrecemos soluciones líderes en el mercado para impulsar la eficiencia en tu fabricación.",
  facebookImage: "https://s3.amazonaws.com/desumex.com.mx/bannerIndustriesTools.png",
  facebookURL: Astro.url.href,
  twitterTitle: "Herramientas Industriales en Desoutter Tools México",
  twitterDescription: "Descubre nuestra amplia gama de herramientas industriales en Desoutter Tools México. Herramientas de ensamblaje y soluciones avanzadas para potenciar tu fabricación. ¡Optimiza tu proceso con nuestras herramientas de calidad!",
  twitterImage: "https://s3.amazonaws.com/desumex.com.mx/bannerIndustriesTools.png"
};

---

<Base frontmatter={frontmatter}>
  <header class='sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16'>
    <NavigationTools />
    <ToolsCTA />
  </header>
  <main>
    <section class='px-10 sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16'>
        <CategoriesList categories={categories}/>
    </section>
  </main>
</Base>
