---
import Navigation from '../../components/herramientas/Navigation.astro'
import CategoriesList from '../../components/herramientas/CategoriesList.astro';
import Base from '../../layouts/Base.astro'
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";

const categoriesRequest = await fetch(`${desoutterAPI}/herramientas`);
const categories = await categoriesRequest.json();

// console.log(categories);

const frontmatter = {
  title: "Herramientas Industriales | Desoutter México",
  description: "Descubre nuestra amplia gama de herramientas industriales en Desoutter México. Ofrecemos herramientas de ensamblaje de alta calidad para impulsar la eficiencia en tu proceso de fabricación.",
  keywords: [
    "Herramientas Industriales", "Herramientas de Ensamblaje", "Herramientas Eléctricas", "Herramientas Neumáticas", "Herramientas de Corte", 
    "Tecnología de Ensamblaje", "Soluciones de Ensamblaje", "Maquinaria Industrial", "Equipo de Fabricación", "Optimización de Procesos"
  ],
  name: "Desoutter México",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Herramientas Industriales en Desoutter México",
  facebookDescription: "Explora nuestra amplia gama de herramientas industriales. Desde herramientas de ensamblaje de precisión hasta maquinaria industrial, ofrecemos soluciones líderes en el mercado para impulsar la eficiencia en tu fabricación.",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Herramientas Industriales en Desoutter México",
  twitterDescription: "Descubre nuestra amplia gama de herramientas industriales en Desoutter México. Herramientas de ensamblaje y soluciones avanzadas para potenciar tu fabricación. ¡Optimiza tu proceso con nuestras herramientas de calidad!",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
};

---

<Base frontmatter={frontmatter}>
  <header class='sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16'>
    <Navigation />
    <section class="px-10 space-y-4">
      <header class="border-b-4 border-red-600">
        <h1 class='sm:text-lg md:text-2xl lg:text-4xl font-bold dark:text-white'>SOLUCIONES Y HERRAMIENTAS INDUSTRIALES</h1>
      </header>
      <p class="max-[400px]:text-xs sm:text-sm md:text-base lg:text-lg dark:text-white">
        Descubra el completo rango de herramientas industriales y soluciones personalizadas de
        Desoutter: herramientas de batería para ensamblaje, atornilladores eléctricos y herramientas
        neumáticas para fijación…
      </p>
      <ul class='md:flex space-x-2'>
        <a href='#'><li class='bg-red-600 px-5 py-2 text-white hover:bg-red-500'>Obtenga una cotización</li></a>
        <a href='#'><li class="bg-slate-600 px-5 py-2 text-white hover:bg-slate-500">Obtenga una demo</li></a>
        <a href={`${import.meta.env.BASE_URL}contacto`}><li class="bg-zinc-800 px-5 py-2 text-white hover:bg-zinc-700">Contáctenos</li></a>
      </ul>
    </section>
  </header>
  <main>
    <section class='px-10 sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16'>
        <CategoriesList categories={categories}/>
    </section>
  </main>
</Base>
