---
const errors = { fullName: '' }

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()
    const fullName = data.get('fullName')
    const email = data.get('email')
    const phone = data.get('phone')
    const subject = data.get('subject')
    const message = data.get('message')
    const informations = data.get('informations')
    const products = data.get('products')
    const offers = data.get('offers')
    const phoneNotifications = data.get('phoneNotifications')

    if (typeof name !== 'string' || name.length < 1) {
      errors.fullName += 'Ingresa tu nombre completo. '
    }
    const dataContact = {
      fullName,
      email,
      phone,
      subject,
      message,
      informations,
      products,
      offers,
      phoneNotifications
    }
    // console.log(dataContact)
    // contactRequest(dataContact);
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
// console.log(errors)
---

<article class='w-full py-10' id="contactForm">
  <form>
    <h1 class='mb-14 text-center text-4xl font-bold leading-8 dark:text-white'>Contáctenos</h1>
    <div class='mb-12'>
      <h2 class='text-base font-semibold leading-7 text-gray-900'>Información personal</h2>
      <p class='mt-1 text-sm leading-6 text-gray-600'>
        Utilice una dirección permanente en la que pueda recibir correo.
      </p>
    </div>

    <div class="relative z-0 w-full mb-6 group">
        <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
        <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de correo electrónico</label>
    </div>

    <fieldset class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="first_name" id="first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
            <label for="first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
        </div>
    </fieldset>

    <fieldset class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" id="phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
            <label for="phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Número telefónico</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="company" id="company" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
            <label for="company" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa</label>
        </div>
    </fieldset>

    <fieldset>
        <div class="relative z-0 w-full mb-6 group">
            <textarea name="message" id="message" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required cols="30" rows="10"></textarea>
            <label for="message" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mensaje</label>
        </div>
    </fieldset>

    <fieldset>
      <legend class='text-sm font-semibold leading-6 text-gray-900'>Por correo electrónico</legend>
      <div class='mt-6 space-y-6'>
        <div class='relative flex gap-x-3'>
          <div class='flex h-6 items-center'>
            <input
              id='informations'
              name='informations'
              type='checkbox'
              class='h-4 w-4 rounded border-gray-300 text-red-600 focus:ring-red-600'/>
          </div>
          <div class='text-sm leading-6'>
            <label for='informations' class='font-medium text-gray-900 dark:text-white'>Información</label>
            <p class='text-gray-500'>
              Recibe una información sobre Desoutter México, nuevos lanzamientos, productos y
              eventos próximos.
            </p>
          </div>
        </div>
        <div class='relative flex gap-x-3'>
          <div class='flex h-6 items-center'>
            <input
              id='products'
              name='products'
              type='checkbox'
              class='h-4 w-4 rounded border-gray-300 text-red-600 focus:ring-red-600'/>
          </div>
          <div class='text-sm leading-6'>
            <label for='products' class='font-medium text-gray-900 dark:text-white'>Productos</label>
            <p class='text-gray-500'>
              Reciba notificaciones cuando haya producto de novedad.
            </p>
          </div>
        </div>
        <div class='relative flex gap-x-3'>
          <div class='flex h-6 items-center'>
            <input
              id='offers'
              name='offers'
              type='checkbox'
              class='h-4 w-4 rounded border-gray-300 text-red-600 focus:ring-red-600'/>
          </div>
          <div class='text-sm leading-6'>
            <label for='offers' class='font-medium text-gray-900 dark:text-white'>Ofertas</label>
            <p class='text-gray-500'>
              Reciba una notificación cuando hayan ofertas o descuentos en productos.
            </p>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend class='text-sm font-semibold leading-6 text-gray-900 dark:text-white'>Notificaciones automáticas</legend
      >
      <p class='mb-4 mt-1 text-sm leading-6 text-gray-600'>
        Se envían por SMS a su teléfono móvil.
      </p>

      <div class='relative flex gap-x-3'>
        <div class='flex h-6 items-center'>
          <input
            id='phoneNotifications'
            name='phoneNotifications'
            type='checkbox'
            class='h-4 w-4 rounded border-gray-300 text-red-600 focus:ring-red-600'
          />
        </div>

        <div class='text-sm leading-6'>
          <label for='phoneNotifications' class='font-medium text-gray-900'>Activar</label>
        </div>

      </div>

    </fieldset>

    <div class="flex justify-end py-4">
      <button type="submit" class="text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">Enviar</button>
    </div>

</form>
</article>
