---
import { SIDEBAR } from '../../config'
---

<aside
  class="hidden container-left bg-red-50 dark:bg-gray-800 lg:sticky lg:top-16 lg:-ml-6 lg:block lg:h-[calc(100vh-4rem)] lg:flex-none lg:overflow-y-auto lg:py-16 lg:pl-6">
  <nav aria-labelledby="grid-left" class="w-64 pr-8 text-base lg:text-sm xl:w-72 xl:pr-16">
    <ul role="list" class="space-y-1">
      {
        Object.entries(SIDEBAR).map(([header, children]) => (
          <li>
            <div class="nav-group">
              <h4 class="font-display font-medium text-red-800 dark:text-white">{header}</h4>
              <ul
                role="list"
                class="mt-2 space-y-1 border-l-2 border-red-200 dark:border-red-700 lg:mt-4 lg:border-red-300">
                {children.map((child) => {
                  const url = child.link
                  return (
                    <li class="relative">
                      <a
                        href={url}
                        class='block w-full pl-3.5 py-7 text-gray-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-red-400 hover:text-red-700 hover:before:block dark:text-gray-400 dark:before:bg-red-500 dark:hover:text-red-300'>
                        {child.text}
                      </a>
                    </li>
                  )
                })}
              </ul>
            </div>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<style>
  .container-left::-webkit-scrollbar {
    width: 0%;
  }
</style>
