---
import Locations from './Locations.astro'
import MoreMenu from './MoreMenu.astro'
---

<aside
  class="container w-3/4 hidden py-7 lg:sticky lg:top-16 lg:block lg:h-[calc(100vh-4rem)] lg:flex-none lg:overflow-y-auto">
  <nav aria-labelledby="on-this-page-title">
    <section>
      <Locations />
      <MoreMenu />
    </section>
  </nav>
</aside>

<style>
  .container::-webkit-scrollbar {
    width: 0%;
  }
</style>