---
import CategoryCard from './CategoryCard.astro'
import HeaderTools from './HeaderTools.astro';
const {categories} = Astro.props;
export const prerender = true;
---

<article>
  <HeaderTools tools={categories.length} />
  <div class='content-center grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4'>
    {categories.map((category) => <CategoryCard key={category.id} category={category} />)}
  </div>
</article>
