---
import CategoryCard from './CategoryCard.astro'
const categories = [
    {
        "id": 1,
        "name": "Herramientas de montaje de batería",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria"
    },
    {
        "id": 2,
        "name": "Smart Hub Industrial ",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/13/smart-hub-industrial"
    },
    {
        "id": 3,
        "name": "Sistemas de montaje eléctricos",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/2/sistemas-de-montaje-electricos"
    },
    {
        "id": 4,
        "name": "destornilladores eléctricos",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/3/destornilladores-electricos"
    },
    {
        "id": 5,
        "name": "Herramientas de sujeción neumáticas",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/4/herramientas-de-sujecion-neumaticas"
    },
    {
        "id": 6,
        "name": "Sistemas de medición de torque",
        "description": "Garantiza la precisión del torque de herramientas eléctricas y neumáticas durante las tareas de apriete de calidad crítica. Optimiza el rendimiento de la herramienta reduciendo costes de calidad en la...",
        "href": "https://www.desouttertools.mx/herramientas/5/sistemas-de-medicion-de-torque"
    },
    {
        "id": 7,
        "name": "Control de Procesos - Pivotware",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/64/control-de-procesos-pivotware"
    },
    {
        "id": 8,
        "name": "Reporte en tiempo real y trazabilidad",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/63/reporte-en-tiempo-real-y-trazabilidad"
    },
    {
        "id": 9,
        "name": "Soluciones para aplicaciones de barrenado",
        "description": "Wide range solutions for drilling applications, from manual to robotics applications.",
        "href": "https://www.desouttertools.mx/herramientas/7/soluciones-para-aplicaciones-de-barrenado"
    },
    {
        "id": 10,
        "name": "Tapping y remachado",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/8/tapping-y-remachado"
    },
    {
        "id": 11,
        "name": "Amoladoras y lijadoras neumáticas",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/9/amoladoras-y-lijadoras-neumaticas"
    },
    {
        "id": 12,
        "name": "Auto Feed Drills & Tappers (obsolete)",
        "description": "Facilidad de integración en la máquina o proceso. Amplia gama del producto  Diseño modular",
        "href": "https://www.desouttertools.mx/herramientas/10/auto-feed-drills-tappers-obsolete"
    },
    {
        "id": 13,
        "name": "motores de aire",
        "description": "Desoutter ofrece una amplia gama de paletas rotatorias de motores de aire en acero inoxidable y versiones libres de lubricación, con potencia de entre 0,16 kW (0,21 hp) a 2,9 kW (3,9 hp). La mayoría de...",
        "href": "https://www.desouttertools.mx/herramientas/12/motores-de-aire"
    },
    {
        "id": 14,
        "name": "Herramientas varias",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/11/herramientas-varias"
    },
    {
        "id": 15,
        "name": "Accesorios",
        "description": "",
        "href": "https://www.desouttertools.mx/herramientas/10000/accesorios"
    }
]
---

<article>
  <header class='p-10'>
    <h2 class="text-2xl font-bold">Herramientas ({categories.length})</h2>
  </header>

  <div class='content-centerw-full grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4'>
    {categories.map((category) => <CategoryCard key={category.id} category={category} />)}
  </div>
</article>
