---

---

<div class="bg-gray-100 dark:bg-gray-800">
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">
      <span class="block dark:text-white">Necesitas herremientas?</span>
      <span class="block text-red-600 dark:text-red-300"
        >Busca y obtiene todo lo que necesitas.
      </span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex shadow">
        <a
          href={import.meta.env.BASE_URL + 'contacto'}
          class="inline-flex items-center justify-center border border-transparent bg-red-600 px-5 py-3 text-base font-medium text-white hover:bg-red-400">
          Cotizar
        </a>
      </div>
      <div class="ml-4 inline-flex shadow lg:ml-3">
        <a
          href={import.meta.env.BASE_URL + 'contacto'}
          rel="noopener noreferrer"
          target="_blank"
          class="inline-flex items-center justify-center border border-transparent bg-white px-5 py-3 text-base font-medium text-red-600 hover:bg-red-100">
          Contactanos
        </a>
      </div>
    </div>
  </div>
</div>
