---
export interface Props {
  title: string
  description?: string
  image?: ImageMetadata
}

const { title, description, image } = Astro.props
---

<div
  class='relative mx-auto h-96 w-full max-w-screen-xl bg-white from-slate-600 dark:bg-gradient-to-t md:my-10'
>
  <div class='grid h-full grid-cols-3'>
    <picture class='flex items-center justify-center'>
      {
        image && (
          <img src={image.src} alt={title} class='z-0 object-cover' />
        )
      }
    </picture>
    <div
      class='top-0 z-20 flex w-full justify-center bg-white bg-opacity-10 p-4 col-span-2'
    >
      <div class='flex items-center justify-center'>
        <div>
          <h2 class='border-b border-red-500 text-4xl font-bold leading-tight text-black'>
            {title}
          </h2>
          <h2 class='text-sm font-medium text-slate-800'>{description}</h2>
        </div>
      </div>
      <slot />
    </div>
  </div>
</div>
