---
import HeaderTools from "./HeaderTools.astro";
import SubCategoryCard from "./SubCategoryCard.astro"

const { subcategories } = Astro.props;

const subcategoriesKey = (subcategories == null || subcategories == undefined) ? 
    []:
    //obtiene todas las propiedades y con slice excepto la última porque no me interesa
    ( Object.keys(subcategories).slice(0, -1))
---
<article>
  <HeaderTools tools={subcategoriesKey.length} />
  <div class='content-center grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4'>
    { //recorre cada propiedad
      subcategories !== null ? ( subcategoriesKey.map((key)=> <SubCategoryCard key={subcategories[key].id} subcategory={subcategories[key]} />)) :
      <div>{'No hay subcategorias'}</div>
      
    }
  </div>
</article>