---
import SubSubSubCategoryCard from "./SubSubSubCategoryCard.astro";
const { categoryId, subcategoryId, subsubcategoryId } = Astro.params;
const { SubSubSubCategoriesAll } = Astro.props;


const CategoryId = Number(categoryId);
const SubCategoryId = Number(subcategoryId);
const SubSubCategoryId = Number(subsubcategoryId);

// console.log(CategoryId);
// console.log(SubCategoryId);
// console.log(SubSubCategoryId);


const subsubsubcategories = SubSubSubCategoriesAll
  .map(subsubsubcategories => subsubsubcategories.filter(subsubsubcategory => {
      if(subsubsubcategory.categoryId === CategoryId && subsubsubcategory.subcategoryId === SubCategoryId && subsubsubcategory.subSubcategoryId === SubSubCategoryId){
        return subsubsubcategory
      }
  })).flat()

console.log(subsubsubcategories);

export const prerender = true;
---
<article>
  <header class='p-10'>
    <h2 class="text-2xl font-bold">Herramientas ({subsubsubcategories.length})</h2>
  </header>

  <div class='content-centerw-full grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4'>
    {subsubsubcategories.map((subsubsubcategory) => <SubSubSubCategoryCard key={subsubsubcategory.id} subsubsubcategory={subsubsubcategory} />)}
  </div>
</article>