---
const errors = {
    issue_service: '', 
    email_service: '', 
    phone_service: '',
    fullName_service: '',
    company_service: '',
    message_service: '',
}

const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()

    function getData(){

        if (data.has('email_service')) {
            data.set("subject_service","Servicio");
            return {
                subject_service: data.get('subject_service'),
                email_service : data.get('email_service'),
                phone_service : data.get('phone_service'),
                fullName_service : data.get('fullName_service'),
                company_service : data.get('company_service'),
                reCaptcha_service: data.get('g-recaptcha-response'),
                issue_service: data.get('issue_service'),
                type_service: data.get('type_service'),
                message_service : data.get('message_service')
            }
        }
        
    }

    const dataContact = getData();

    // console.log(dataContact);

    fetch(desoutterAPI + "/contacto/servicios", {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(dataContact),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(responseData => {
        if (responseData.success) {
            console.log('Mensaje de éxito:', responseData.message);
        } else {
            console.error('Error en la solicitud:', responseData.message);
        }
    })
    .catch(error => {
        console.error('Error en la solicitud:', error);
    });


  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<div class="relative bg-white shadow dark:bg-gray-700">
    <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl text-center font-medium text-gray-900 dark:text-white">Escribe tu pregunta</h3>
        <form method="post" id="service-form">

            <div class="relative z-0 w-full mb-6 group">
                <label for="issue_service" class="block mb-2 text-sm font-normal text-gray-500 dark:text-white">Selecciona tu solicitud</label>
                <select name="issue_service" id="issue_service" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500">
                    <option value="service" >Solicitar Servicio</option>
                    <option value="question" >Pregunta</option>    
                </select>
                <p class="text-red-500 hidden border-t border-red-500" id="error_issue_service"></p>
            </div>


            <div class="relative z-0 w-full mb-6 group" id="serviceTypeContainer">
                <label for="type_service" class="block mb-2 text-sm font-normal text-gray-500 dark:text-white">Selecciona el servicio a solicitar</label>
                <select name="type_service" id="type_service" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500">
                    <!-- Aquí puedes añadir opciones específicas para el tipo de servicio -->
                    <option value="Asesorias">Asesorías</option>
                    <option value="Calibracion de torque">Calibración de torque</option>
                    <option value="capacitacion">Capacitación</option>
                    <option value="servicio tecnico">Servicio técnico</option>
                </select>
                <p class="text-red-500 hidden border-t border-red-500" id="error_type_service"></p>
            </div>

            <div class="relative z-0 w-full mb-6 group">
                <input type="email" name="email_service" id="email_service" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                <label for="email_service" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de correo electrónico</label>
                <p class="text-red-500 hidden border-t border-red-500" id="error_email_service"></p>
            </div>

            <fieldset class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="fullName_service" id="fullName_service" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                    <label for="fullName_service" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
                    <p class="text-red-500 hidden border-t border-red-500" id="error_fullName_service"></p>
                </div>
            </fieldset>

            <fieldset class="grid md:grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone_service" id="phone_service" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder="ej. 123 456 7890" required />
                    <label for="phone_service" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Número telefónico</label>
                    <p class="text-red-500 hidden border-t border-red-500" id="error_phone_service"></p>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="company_service" id="company_service" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                    <label for="company_service" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa</label>
                    <p class="text-red-500 hidden border-t border-red-500" id="error_company_service"></p>
                </div>
            </fieldset>

            <fieldset>
                <div class="relative z-0 w-full mb-6 group">
                    <textarea name="message_service" id="message_service" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required cols="10" rows="1"></textarea>
                    <label for="message_service" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Pregunta</label>
                    <p class="text-red-500 hidden border-t border-red-500" id="error_message_service"></p>
                </div>
            </fieldset>

            <button     
                type="submit"
                data-sitekey="6LfiuA8pAAAAAAkXWHT_SsdkFSuFGi3c9qpdvfmB"
                data-callback='onChange'
                data-action='change'
                class="g-recaptcha text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">
                Enviar
            </button>
        </form>    
    </div>
    <div id="success-message" class="hidden text-green-300 text-center">¡El formulario se envió con éxito!</div>
</div>

<script>
    function init () {

        const form = document.getElementById("service-form");
        const successMessage = document.getElementById('success-message');

        const issueQuestion = document.getElementById('issue_service');
        const serviceTypeContainer = document.getElementById('serviceTypeContainer');

        function showSuccessMessage(form:HTMLElement, successMessage:HTMLElement){
            if(form && successMessage){
                form?.classList.add('hidden');
                successMessage?.classList.remove('hidden');
                setTimeout(() => {
                    form?.submit();
                    form?.reset();
                    form?.classList.remove('hidden');
                    successMessage?.classList.add('hidden');
                }, 2000);
            } else {
                console.log('elements not found');
            }
        }

        const btnQuestion = document.querySelector('#btn-question');
        const formQuestion = document.querySelector('#form-question');
        const btnCloseQuestion = document.querySelector('#btn-close-question');

        btnQuestion?.addEventListener('click', ()=>{
            formQuestion?.classList.replace('hidden', 'flex');
        });

        btnCloseQuestion?.addEventListener('click', ()=>{
            formQuestion?.classList.replace('flex','hidden');
        })

        document.getElementById('phone_service')?.addEventListener('input', function (e) {
        // Eliminar cualquier caracter que no sea un número
        const phoneNumber = e.target.value.replace(/\D/g, '').slice(0, 10);

        // Aplicar el formato
        let formattedPhoneNumber = '';
        for (let i = 0; i < phoneNumber.length; i++) {
                if (i === 3 || i === 6) {
                    formattedPhoneNumber += '-';
                }
                formattedPhoneNumber += phoneNumber[i];
            }

            // Actualizar el valor del campo de entrada
            e.target.value = formattedPhoneNumber;
        });


        

        if(issueQuestion && serviceTypeContainer ){

            issueQuestion.addEventListener("change", (ev) => {
                if (ev.target.value === "service"){
                    serviceTypeContainer.style.display = 'block';
                } else {
                    serviceTypeContainer.style.display = 'none';
                }
            })
        }


        function onChange(token:string) {
            if (token) {
                // console.log("No eres un robot");
                try {
                    if (form && successMessage) {
                        if(form.checkValidity()){
                            showSuccessMessage(form, successMessage);
                        } else {
                            const formElements = form.elements;

                            Array.from(formElements).forEach(element => {
                                if (element.checkValidity() === false) {
                                    const errorMessage = document.getElementById(`error_${element.name}`);
                                    // if (element.id === "email_service"){
                                    //     console.log("es correo");
                                    // }
                                    if (errorMessage) {
                                        errorMessage.textContent = 'Falta validar campo';
                                        errorMessage.classList.replace("hidden", "block");

                                        setTimeout(() => {
                                            errorMessage.textContent = 'Falta validar campo';
                                            errorMessage.classList.replace("block", "hidden");
                                        },4000)
                                    }
                                    
                                }
                            });
                        }
                    } else {
                        console.log("Ocurrió un error");
                    }
                } catch (error) {
                    console.error(error)
                }
            } else {
              console.log("Eres un robot");
            }
        }

        window.onChange = onChange;
    }

    window.onload = init;
    document.addEventListener('DOMContentLoaded', init);
    init();
    document.addEventListener('astro:page-load', init);
    
  </script>