---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <SEO frontmatter={frontmatter} />
    <ViewTransitions />
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfiuA8pAAAAAAkXWHT_SsdkFSuFGi3c9qpdvfmB" async defer></script>
    <script is:inline>
    const setDarkMode = () => {
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    };
    setDarkMode(); //initial navigation
    document.addEventListener("astro:page-load", setDarkMode); // Runs on view transitions navigation
    </script>
    <style is:inline>
      [x-cloak] {
        display: none !important;
      }
      .markmap > svg {
        width: 100%;
        height: 400px;
      }
    </style>
    <slot name="in-head" />
  </head>
  <body class="bg-[#F2F2F2] dark:bg-gray-900">
    <main>
      <Header />
      <slot />
      <slot name="before-footer" />
      <Footer />
    </main>
  </body>
</html>
